/* Inside your style.css file... */
header {
   margin: 0 auto;
   text-align: center;
   font-size: 15px;
   margin-top: 2px;
   margin-bottom: 2px;
}

p {
   font-size: 22px;
   font-style: italic;
   color: #004282;
}

h1 {
      font-style: bold;
   color: #00A8EC;
   background-color: black
}

h3 {
         color: #EF9021;
}

.container {
   width: 1140px;
}

.site-title.home-title {
   font-size: 50px;
}